body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #836953;
}
nav h1{
    color: #717171;
    font-size: 30px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 300px;
  
}
nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 15px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    

}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    /*background: url("photos/food1\ \(13\).jpg");*/
    background-size: cover;
    padding: 40px;
}
header h1{
    font-size: 40px;
    color: #fff;
}
header h4{
    margin-top: -10px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
    color: #fff;
}
header button{
    padding: 10px 20px;
    background: #fff;
    color: #000;
    border: none;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    
}

.main{
    /*margin-top: 15px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.main .content .card .left{
    flex: 0 0 30%;
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
   /* border: 2px solid #836953;*/
}
.main .content .card.right{
    flex: 0 0 70%;
}

.main .content .card .right img{
    height: 300px;
    width: 400px;
   /* margin-top: 5px;*/
}
footer{
    /*margin-top: 40px;*/
    border-top: 5px solid #836953;
    background-color: #000;
    color: #fff;
    padding: 30px 100px;
}
footer h1{
    border-bottom: 1px solid #fff;
    width: 15%;
    padding-bottom: 1px;
}
footer .services{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}
footer .services .service{
    margin-right: 30px;
    padding: 10px;
}
footer .services .service p{
    width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181);
}
@media screen and (max-width:680px) {
    nav .onglets{
        margin-left: 0;
        margin-bottom: 3px;
        
    }
    .main .card{
        margin: 10px;
    }
    .main .content .card .right img{
        height: 180px;
        width: 100%;
        margin-top: 0px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 10px;
    }
}